* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    text-transform: capitalize;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}

#logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#logo #nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background: #00000052;
}

#logo #nav .img-logo {
    width: 200px;
}

#logo #nav .img-logo h1 {
    font-size: 3rem;
    color: #0e006a;
}

#logo #nav ul {
    display: flex;
    justify-content: center;
}

#logo #nav ul li {
    margin: 0 30px;
    padding: 0.1rem 0.5rem;
    position: relative;
    border-radius: 2px;
    border-left: 2px solid transparent;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

#logo #nav ul li:hover {
    border-color: #012149;
}


#logo #nav ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #01316c65 10%, #036ef07d 90%);
    border-radius: 2px;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
}

#logo #nav ul li:hover::after {
    transform: scaleX(100%);
    transform-origin: left;
}

#logo #nav ul li a {
    color: #0e006a;
    transition: all 0.4s ease-in-out;
}

#logo #nav ul li:hover a {
    color: #ffffff;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #289191;
}

#about{
    /* background:url(../img/ABOUT-BG.jpg) center center no-repeat ; */
    justify-content: space-between;
    background: #ffffff;
    padding: 0 2rem;
}

.subject .about-img{
    width: 60%;
}

.subject .about-img img{
    width: 100%;
    height: auto;
}

.subject .about-text{
    width: 35%;
}

.subject .about-text h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0e006a;
}
.brand-decor-line{
    height: 2px;
    width: 100px;
    background: #0e006a;
    margin: 0 auto 0.5rem;
    position: relative;
}

.subject .about-text p{
    font-size: 0.8rem;
    color: #4c4c4c;
}

footer{
    display: flex;
    height: 40vh;
    width: 100%;
     justify-content: space-between;
    background-color: #12152c;
    padding: 1rem 3rem;
}

#footer .img-logo{
  width: 40%
}

#footer .img-logo h1{
    color: #fff;
}

#footer .social{
  width: 50%
}